
body {
        background-image:       linear-gradient(to bottom, rgba(102,70,231,1),rgba(102,70,231,0.8),rgba(102,70,231,0.6),rgba(120,70,231,0.5));
}

.goback, .home {
	top:	250px;
	background-color:	#58ba83;
	text-decoration:	none;
	padding:	4px 6px;
	color:	snow;
}
.goback {
	left:	0;
	padding:	5px;
}
.home {
	right:	0;
	padding:	5px;
}
#goback, #home {
	display:	inline-block;
	position:	absolute;
}

/* Nav Bar */

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}


/* NAV BAR END */

/* Home Page */

.home-content a {
        text-decoration:        none;
        color:  #000000;
	display:	block;
	width:	48%;
	float:	left;
}

/* Movie Search Page */

#prevpage {
        float:  left;
	text-decoration:	none;
}
#nextpage {
        float:  right;
	text-decoration:	none;
}
#prevpage, #nextpage {
	background-color:	#58ba83;
	color:	snow;
	height:	15px;
}

.card {                                                                                                           
        background-color:       rgba(102,70,231);
        box-shadow:     0 4px 8px 0 rgba(102,70,231), 0 6px 20px rgba(0,0,0,0.9);
	margin-top:	15px;
	margin-left:	6px;
	margin-right:	6px;
}

button {                                                                                                          border:	none;
	float:  right;
	background-color:       #58ba83;                                                                          color:  snow;
	cursor: pointer;
}



.text {
        margin: 3px;
        margin-top:     6px;
}

input[type="text"], input[type="url"], input[type="number"] {
        padding:        12px 20px;
        width:  100%;
        margin: 8px 0;                                                                                            border-radius:  5px;
        border: 1px solid #58ba83;
        box-sizing:     border-box;
        border-radius:  4px;
}

button[type="submit"] {
        width:  100%;
        padding:        14px 20px;
        margin: 8px 0;
        border: none;
        border-radius:  4px;
        background-color:       #58ba83;                                                                          color:  snow;
        cursor: pointer;
}

/* Message Box */

.msg-box {

        position:       fixed;
        left:   20px;
        top:    10px;
        width:  80%;
        height: auto;
        overflow:       auto;
        background-color:       green;
        opacity:        80%;
        transition:     0.6s;
        border-left:    5px solid black;
        z-index:        1;
}

.close-msg {
        float:  right;
        font-size:      28px;
        font-weight:    bold;
}
.close-msg:hover, .close-msg:focus {
        color:  black;
        text-decoration:        none;
        cursor: pointer;
}

.msg-content {
        margin: 10px;
}

/* End Message Box */

/* Movie info Page */

#info-card {
	border:	9px;
	padding-left:	4px;
	padding-right:	4px;
	padding-top:	10px;
}

.title {
	padding-top:	4px;
	text-align:	center;
	display:	none;
}

/* END MOVIE INFO */
