
<!doctype>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
		<!--For Development Use 
		<script src="{{ url_for('static',filename='cssrefresh.js') }}"></script>
		-->
		<meta content="width=device-width, initial-scale=1" name="viewport" />
	</head>
	{% block title %}

	{% endblock %}

	<body>

		<div class="pill-nav">
  			<a href="#home">Home</a>
  			<a href="#news">News</a>
  			<a href="#contact">Contact</a>
  			<a href="#about">About</a>
		</div>

		{% block body %}

		{% endblock %}

	</body>
</html>
