

<style>                                                                                                                                                                                                             .infobtn {                                                                                                
        background-color:       #58ba83;
        border-radius:  4px;
	padding:	4px;
	display:	inline-block;
}
</style>

{% extends 'base.html' %}

{% block body %}

{% if 'error' in values %}

<div class="msg-box" id="msg-box">

                <span class="close-msg" onclick="this.parentElement.style.display='none';">&times;</span>
                <div class="msg-content">{{ values['error'] }}</div>
</div>

<a id="goback" href="{{ url_for('search_movie') }}"><div class="goback">Go Back</div></a>
<a id="home" href="{{ url_for('home') }}"><div class="home">Home</div></a>

{% else %}

<div id="info-card" class="card">
<form name="movie_search" action="">

        <label for="query" class="text">Movie Name :</label>
        <br/>
        {% if 'query' in values %}
        <input type="text" name="query" value="{{ values['query'] }}"/>
        {% else %}
        <input type="text" placeholder="High School DxD" name="query" />
        {% endif %}
        <br/><br/>
        <button type="submit">Search !</button>
</form>
</div>

{% if results %}
<h4>Total Results Found : {{ results['totalResults'] }}</h2>

<!-- Logic for Pagination -->
{% if page %}
<p style="text-align:center;">You are on Page : {{ page }}</p>
{% else %}
<p style="text-align:center;">You are on Page : 1</p>
{% endif %}

{% if page %}
	{% if page > 1 %}
	<div id="prevpage"><a href="{{ url_for('search_movie',page=page-1,query=values['query']) }}">Previous Page</a></div>
	<div id="nextpage"><a href="{{ url_for('search_movie',page=page+1, query=values['query']) }}">Next Page</a></div>
	{% endif %}
{% else %}
<div id="nextpage"><a href="{{ url_for('search_movie',page=2, query=values['query']) }}">Next Page</a></div>
{% endif %}

<br/>

<!-- Displaying Search Results -->

	{% for result in results['Search']  %}
		<div class="card">
			<table>
				<tr>
					<td><img class="thumb" src="{{ result['Poster'] }}" height="150px"></img></td>
					<td>
						<table>
				<tr>
					<td style="white-space:nowrap;">Title :</td>
					<td>{{ result['Title'] }}</td>
				</tr>
				<tr>
					<td style="white-space:nowrap;">Year : </td>
					<td>{{ result['Year'] }}</td>
				</tr>
				<tr>
					<td style="white-space:nowrap;">Type : </td>
					<td>{{ result['Type'] }}</td>
				</tr>
						</table>
					</td>
			</table>

			<div class="infobtn" ><a href="{{ url_for('movie_info',id=result['imdbID']) }}">View Info</a></div>
		</div>
	{% endfor %}

{% endif %}
{% endif %}

{% endblock %}

