

{% extends 'base.html' %}

{% block body %}

{% if 'error' in values.errors %}

<div class="msg-box" id="msg-box">

                <span class="close-msg" onclick="this.parentElement.style.display='none';">&times;</span>
                <div class="msg-content">{{ values.errors['error'] }}</div>
</div>
<br/>
<a id="goback" href="{{ url_for('link_shortener') }}"><div class="goback">Go Back</div></a>
<a id="home" href="{{ url_for('home') }}"><div class="home">Home</div></a>
{% else %}

<form name="shorten" action="" method="post">

	<label for="fullurl" class="text">Enter Url :</label>
	<br/>
	{% if 'fullurl' in values %}
	<input type="url" name="fullurl" value="{{ values['fullurl'] }}"/>
	{% else %}
	<input type="url" name="fullurl" />
	{% endif %}
	<br/><br/>
	<button type="submit">Shorten !</button>
</form>

{% if short_link %}

<label class="text">Shortened Url :</label>
<input type="text" readonly value="{{ short_link }}"/>
{% endif %}
{% endif %}

{% endblock %}
